body{
    background: #171717;
    height: auto;
}

.container{
    padding: 13px;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://64.media.tumblr.com/d910964a9c86472a98b0ed914476f2a3/tumblr_oijvxoyD4a1twrbr9o1_540.gifv)
}

.profile{
    position: relative;
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 3px 6px rgba(206, 7, 0, 0.555);
}

h3{
    color: #fff;
    font-family: sans-serif;
    z-index: 40;
    font-weight: 990;

}

.likh{
    color: #000;
    background-image: linear-gradient(90deg,#833ab4,#fcb045);
    border-radius: 50px;
  
}

#txt1{
    align-items: center;
    position: relative;
    top: 2px;
    height: 160px;
    width: 150px;
}

#two{
    top: 20px;
    height: 400px;
    width: 450px;
    border-radius: 35px;
    
    
}

#one{
    margin-top: 180px;
    height: 400px;
    width: 450px;
    border-radius: 35px;
   border-right: 35px;
    
}

#card{
    top: 60px;
    transform-style: preserve-3d;
    position: relative;
    background-image: linear-gradient(90deg,#833ab4,#fcb045);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 20px auto;
    width: 400px;
    text-transform: capitalize;
    height: 395px;
    
}

i{
    letter-spacing: 0.3px;
    backdrop-filter: blur(1px);
    z-index: -1;
    line-height: 1.4;
    font-weight: 590;
}

#cover{
    width: 420px;
    height: 395px;
    color: #dfd;
    top: 0px;
    transition: 7s;
    align-items: center;
    position: absolute;
    transform-origin: left;
    background-size: 100% 100%;
    background-image: url('./img/cake.jpg');

}

#hover{
    font-size: 3rem;
    font-weight: bold;
    color: #fffdfa;
    position: absolute;
    top: 10px;
    left: 80px;
}

#card:hover #cover{
    transform: rotateY(-135deg);
}
